@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* Color Palette */
$davysGray: #50514F;
$bittersweet: #F25F5C;
$napplesYellow: #FFE066;
$cerulean: #247BA0;
$verdigris: #70C1B3;

* {
  margin: 0; padding: 0; box-sizing: border-box;
  font-family: 'Poppins', sans-serif, FontAwesome;
}

body {
  height: 100vh; width: 100vw;
  background-color: $davysGray;

  .container, .shortener-form, .shortener-result, .shortener-url { display: flex; align-items: center; justify-content: center; }

  .container {
    height: 100vh;

    .card {
      width: 370px; height: auto; position: relative;
      padding: 1rem; border-radius: 10px; border: 5px solid $davysGray;
      box-shadow: 0px 0px 5px 5px $bittersweet; background-color: $bittersweet; color: white;
      cursor: pointer; transition: 0.25s;

      &:hover { box-shadow: 0px 0px 10px 10px $bittersweet; }
      &:hover .shortener-icon { transform: translateY(-5px) rotate(8deg);
        img {
          content: url(../img/hover.png); scale: 1.1;
        }
      }

      input, button { border-width: 2px; border-color: $davysGray; }          

      .shortener-icon {
        width: 100%; height: 175px;
        text-align: center;
        transition: transform 0.4s ease-in-out;
        filter: drop-shadow(2px 5px 2px $davysGray);
        img {
          max-width: 100%; height: 100%;
          scale: 0.9;
        }
      }

      .shortener-form {
        flex-wrap: wrap; justify-content: space-between; text-align: center;
        margin: 10px 0; margin-bottom: 5px;
        p {
          width: 100%;
          font-size: 20px; letter-spacing: 1px; font-weight: bold;
          margin-bottom: 0;
        }
        #subtitle {
          width: 100%; display: inline-block;
          margin-top: 5px; padding: 5px 0; border-top: 1px solid white;
          font-size: 14px;
        }

        .input-group {
          margin-bottom: 5px;
          input {
            font-size: 14px;           
            &:focus:required:invalid { border-color: $napplesYellow; box-shadow: 0 0 0 0.1rem $napplesYellow; }            
            &:focus:required:valid { border-color: $cerulean; box-shadow: 0 0 0 0.1rem $cerulean; }
            &::placeholder {
              font-size: 16px; opacity: .7;
            }
            &::selection { background-color: $napplesYellow; }
          }       
        }        
        #reload {
          background-color: $napplesYellow; color: $davysGray;
          &:hover { background-color: $davysGray; color: white; }
        }
        #shorten-btn {
          background-color: $cerulean; color: white;
          &:hover { background-color: $verdigris; color: $davysGray;
          }
        }
      }

      .shortener-result {
        flex-wrap: wrap;
        .shortener-url {
          width: 100%; height: 80px;   
          background-color: white;       
          font-size: 16px; font-weight: bold; color: $davysGray; text-align: center;
          border: 2px solid $davysGray; border-radius: 5px;          
        }           
        button { 
          width: 100%; height: 35px;
          background-color: $davysGray; color: white;
          margin-top: 5px; line-height: 1;
          &:hover { background-color: $napplesYellow; color: $davysGray; }
        }
      }
    }
  }
}